<% include ../partials/header %>


<div class="ui container segment" id="main-page-segment">
    
        

    <h1 class="ui dividing huge header">Welcome to Shiva's Bookstore!
            <a href="/new" class="ui right floated button">Add New Book</a>
            <!-- <% if(currentUser && currentUser.username) { %>
                <p><%= currentUser.username %></p>
            <% } %>     -->
    </h1>
    <div class="ui container stackable grid">
        <div class="ui four column row">
            <% books.forEach(book => { %>
            <div class="five wide computer wight wide tablet column">
                <div class="ui card fluid" id="book-card">
                    <a class="image " href=" /home/<%= book._id %>">
                        <img src="<%= book.image %>" alt="image" id="img-card" class="ui centered image">
                    </a>
                    <div class="content">
                        <a href="/home/<%= book._id %>"><%= book.bookname %></a>
                        <div class="meta">
                            <span class="date">
                                <emp>By</emp> <b><%= book.author %></b>
                            </span>
                        </div>
                        <div class="description">
                            <%= book.genre %>
                        </div>
                    </div>
                    <div class="extra content">
                        Published in <b><%= book.publishedYear %></b>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>


    </div>
</div>

<% include ../partials/footer %>