<% include ../partials/header %>

<div class="ui container">
    <div class="ui grid segment">
        <div class="ui row">
            <div class="ui four wide column">
                <img class="ui medium centered rounded image"
                    src="<%= book.image %>"
                    alt="img"
                    >
            </div>

            <div class="ui twelve wide column">
                <div class="ui dividing large header">
                    <%= book.bookname %>
                    <% if(currentUser && currentUser._id.equals(book.owner.id)){ %>
                        <form action="/home/<%= book._id %>/?_method=DELETE" method="POST" >
                            <button type="submit" class="ui right floated basic red button" >Delete</button>
                        </form>
                            <a href="/home/<%= book.id %>/edit" class="ui right floated basic black button" id="edit-button">Edit</a>

                    <% } %>
                    <!-- <form action="/home/<%= book.id %>/delete" class="ui form right floated">
                        <button class="ui right floated danger button">Delete</button>
                    </form> -->

                </div>
                <p>Written by <b>
                        <emp><%= book.author %></emp>
                        

                    </b></p>
                <p>Genre : <b><%=  book.genre %></b> </p>
                <p>Published in : <b><%= book.publishedYear %></b> </p>

                <div class="ui clearing segment">
                    <div class="ui clearing header">
                        Reviews and Ratings
                    </div>
                    <p><a href="#">Amazon</a>
                        <div>
                            <i>5 Stars</i>
                            <span>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                            </span>
                        </div>
                    </p>
                    <p><a href="#">Flipkart</a>
                        <div>
                            <i>4 1/2 Stars</i>
                            <span>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star half icon"></i>
                            </span>
                        </div>
                    </p>
                </div>

                <div class="ui segment">
                    <div class="ui grid">
                        <div class="ui two column row">
                            <div class="three wide column segment">
                                <p class="ui small dividing header">HardCover</p>
                                <p><i>Rs 399/-</i></p>
                            </div>
                            <div class="three wide column segment">
                                <p class="ui small dividing header">Paperback</p>
                                <p><i>Rs 299/-</i></p>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>

    </div>
    <div class="ui container segment">
        <div class="ui dividing large header">
            Description
        </div>
        <p>
            
           <%= book.description %> 
        </p>
    </div>
</div>

<div class="ui container segment">
 <h1 class="ui dividing header">Comments</h1>
 <% if(currentUser) { %>
    <% include ../comments/new-comment %>
        
        <!-- <a type="submit" class="ui right floated basic black button" href="/home/<%= book._id %>/new-comment">Add Comment</a> -->
        <% } %>
    
    <% book.comments.forEach(comment => { %>
        <div class="ui black segment">
            <div class="ui dividing header"><%= comment.author.username %></div>
            <p><%= comment.text %></p>
        </div>

   <% }) %>
   

</div>

<% include ../partials/footer %>